*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.page {
  display: grid;
  place-items: center;
}
